
html, body {
    height: 100%;
    position: relative;
    background-image: url(../images/RM_11.png)
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: table;
}

.wrapper-form {
    vertical-align:middle;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.formulario{
    border-radius: 5px;
    padding: 30px;
    background-color: rgba(100, 99, 99, 0.5);
}
  
.formulario p {
    color: white;
    text-align: right;
}

.formulario input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
}

.formulario select {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 190px;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
}
  
.formulario button {
    margin:  0 auto;
    margin-top: 10px;
    background: #FF8C00;
    border-radius: 5px;
    height: 44px;
    width: 194px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: block;
}
  
.formulario button:hover {
    background: #FFA500	;
}

.navbar {
    width: 100%;
    background-color: rgba(100, 99, 99, 0.5);
    list-style-type: none;
    display: inline-block;
}
  
.navbar li a { 
    padding: 8px 16px;
}
    
.navbar li a:hover {
    background-color: #555;
    cursor: pointer;
}

.rodape {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(100, 99, 99, 0.5);
    color:  rgba(255, 255, 255, 0.5);
    font-size: 15px;
    text-align: center;
}

.files input {
    outline: 2px dashed #FF8C00;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 40px;
    text-align: center !important;
    align-self: center;
    margin: 0;
    width: 100% !important;
}

.files input:focus{     outline: 2px dashed #FF8C00;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #FF8C00;
 }

.color input{ 
    background-color:#f1f1f1;
}

.funcionamento p {
    text-align: center;
    margin: 0;
}
.funcionamento {
    margin-bottom: 5px;
}

@media only screen and (max-width: 420px){
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
}