.mapa {
    margin-left: -20.5px !important;
    margin-top: -20.5px !important;
    min-height: 500px;
}

.map-card {
    margin-bottom: 75px;
}

.chat {
    margin:  0 auto;
    margin-top: 10px;
    background: #FF8C00;
    border-radius: 5px;
    height: 30px;
    width: auto;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: block;
}
  
.chat:hover {
    background: #FFA500	;
}