.mod-card-back-title{
    margin: 10px 10px 10px 0px;
    overflow-y: visible; 
    overflow-wrap: break-word;
    background:transparent;
    border-radius:3px;
    font-size:16px;
    resize:none;
    border:none;
    text-align: center;
}

.image-title {
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.post {
    resize:none;
}

.mod-card-back-title.is-editing,.mod-card-back-title:focus{
    background:#fff;
    border:none;
    box-shadow:inset 0 0 0 2px #0079bf
}