.Simple {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .tag {
    margin: 3px;
    font-size: 13px;
    border: 1px dashed #FF8C00;
    border-radius: 4px;
    padding: 0 8px;
    line-height: 30px;
    color: #FF8C00;
    background: #E9E9E9;
    cursor: default;
  }
  .undraggable {
    background-color: rgb(243, 243, 243);
  }

.DraggableTags {
    position: relative;
        height: 100%;
}

.DraggableTags::after {
    content: '';
    display: block;
    clear: both;
}

.DraggableTags-tag {
    display: inline-block;
    position: relative;
    color: transparent;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.DraggableTags-undraggable {
    cursor: default;
}

.DraggableTags-tag-drag {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
    z-index: 1;
}
